/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Qahiri&family=Raleway:wght@500&display=swap');

/* Change default margin, padding and border to 0 and none */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    color: #133944;
}

header {
    background-color: #e2ecba;
    width: 100%;
}

/* Style headings and logo */
h1, h2, h3 {
    font-family: Cabin, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #454720;
}

h2 {
    font-size: 250%;
    margin: 40px 0 20px 0;
}

.logo-font {
    font-family: Qahiri, sans-serif;
    font-weight: 400;
}

#main-logo {
    float: left;
    font-size: 350%;
    margin: 20px 0 30px 30px;
}

/* Style navigation bar */
#navbar {
    clear: left;
    font-size: 120%;
}

#navbar li {
    display: inline-block;
    text-align: center;
    width: 33%;
}

#navbar a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #e2ecba;
    background-color: #454720;
    padding: 10px;
}

#navbar a:hover {
    background-color: #784834;
}

/* index.html image container section */
#image-container {
    width: 100%;
    height: 450px;
}

/* Main image */
#main-image {
    width: 100%;
    height: 100%;
    background: url("../images/main-image.jpg") center center / cover no-repeat;
}

/* About us section*/
#about-us {
    float: left;
    width: 50%;
}

#about-us h2 {
    text-align: center;
}

#about-us p {
    margin: auto 25%;
    line-height: 25px;
    text-align: justify;
}

#about-us-image {
    position: relative;
    max-width: 100%;
    max-height: 300px;
    margin: 40px 25% 40px;
    overflow: hidden;
}

#about-us-image img {
    max-width: 100%;
}

/* Contact section */
#contact {
    float: right;
    width: 50%;
}

#contact h2 {
    text-align: center;
}

#contact h3 {
    text-align: center;
    margin: 20px 0 10px;
}

#contact p {
    text-align: justify;
    margin: auto 25%;
    line-height: 25px;
    margin-bottom: 20px;
}

#contact span {
    padding-left: 16px;
}