/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Qahiri&family=Raleway:wght@500&display=swap');

/* Change default margin, padding and border to 0 and none */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    color: #133944;
}

header {
    background-color: #e2ecba;
    width: 100%;
}

/* Style headings and logo */
h1, h2 {
    font-family: Cabin, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #454720;
}

.logo-font {
    font-family: Qahiri, sans-serif;
    font-weight: 400;
}

#main-logo {
    float: left;
    font-size: 350%;
    margin: 20px 0 30px 30px;
}

/* Style navigation bar */
#navbar {
    clear: left;
    font-size: 120%;
}

#navbar li {
    display: inline-block;
    text-align: center;
    width: 33%;
}

#navbar a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #e2ecba;
    background-color: #454720;
    padding: 10px;
}

#navbar a:hover {
    background-color: #784834;
}

/* index.html image container section */
#image-container {
    width: 100%;
    height: 450px;
}

/* Main image */
#main-image {
    width: 100%;
    height: 100%;
    background: url("../images/main-image.jpg") center center / cover no-repeat;
}